<head>
  <title>SomeLikeItHot</title>
  <%= stylesheet_link_tag    'style', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
		<hi>Some Like It Hot</h1>
		</div>


<%= yield %>

</body>
</html>